<mat-card>
  <mat-card-title>Log In</mat-card-title>
  <form action="#">
    <h4>Please Log In</h4>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput #username />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput #password />
    </mat-form-field>
    <button
      (click)="onLoggedIn(username, password)"
      mat-raised-button
      color="primary"
    >
      Log In
    </button>
  </form>
</mat-card>
