mat-card {
  min-height: 80vh;
  text-align: center;
  background-color: grey;
  margin: 1rem;
  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }
}
